In [2]:
# Quick Overview

# describe()
# mean()
# unique()
# value_counts() - unique values and how often they occur

# Maps
# A fucntion that takes one set of values and maps them to another set of values.
#2 methods
# map()
## returns a Series

# apply()
## returns a dataframe
## equivalent method to transform a whole DF by calling a custom method on each row.
## axis='columns' means transformation is applied to each row.
## axis='index' means transformation is applied to each column.

#map() and apply() do not modify the original data. They return transformed Series and DataFrames respectively.

# pandas provides common mapping operations as built-ins. These are faster as they use speed ups built into pandas.

In [17]:
import pandas as pd

#read housing dataset
X = pd.read_csv("train.csv", index_col='Id')

X.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
#remean SalePrice to 0 using map()

SalePrice_mean = X.SalePrice.mean()
SalePrice_mean
X.SalePrice.map(lambda p: p - SalePrice_mean)

Id
1       27578.80411
2         578.80411
3       42578.80411
4      -40921.19589
5       69078.80411
           ...
1456    -5921.19589
1457    29078.80411
1458    85578.80411
1459   -38796.19589
1460   -33421.19589
Name: SalePrice, Length: 1460, dtype: float64

In [10]:
# using the apply() method to remean SalePrice to 0

def remean_price(row):
    row.SalePrice = row.SalePrice - SalePrice_mean
    return row
X.apply(remean_price, axis='columns')

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,27578.80411
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,578.80411
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,42578.80411
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,-40921.19589
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,69078.80411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,-5921.19589
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,29078.80411
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,85578.80411
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,-38796.19589
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,-33421.19589

In [15]:
# Better way to calculate mean without using map() and apply()
# pandas understands we are subtracting a constant value from a series of prices

SalePrice_mean = X.SalePrice.mean()
X.SalePrice - SalePrice_mean

In [19]:
X.SalePrice

Id
1       208500
2       181500
3       223500
4       140000
5       250000
         ...
1456    175000
1457    210000
1458    266500
1459    142125
1460    147500
Name: SalePrice, Length: 1460, dtype: int64

In [30]:
# pandas also understands we want to concatenate two series
#X.MSZoning + "-" + X.LotShape
X.MSZoning + "-" + X.MSSubClass.astype(str)

Id
1       RL-60
2       RL-20
3       RL-60
4       RL-70
5       RL-60
        ...
1456    RL-60
1457    RL-20
1458    RL-70
1459    RL-20
1460    RL-20
Length: 1460, dtype: object

In [31]:
X.MSZoning.value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [43]:
# 'best' house deal
# either get max of area/sales or min of sales/area
bargain_area_idx = (X.LotArea/X.SalePrice).idxmax()
bargain_area_idx

X.loc[bargain_area_idx, ['LotArea','SalePrice']].to_frame().transpose()

    LotArea SalePrice
336  164660    228950

In [47]:
X.LotConfig.value_counts()

Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64

In [44]:
# finding text in a string

side_in_lotconfig = X.LotConfig.map(lambda x: 'side' in x)
side_in_lotconfig

Id
1        True
2       False
3        True
4       False
5       False
        ...
1456     True
1457     True
1458     True
1459     True
1460     True
Name: LotConfig, Length: 1460, dtype: bool

In [46]:
#checking that count matches for 'Inside'
side_in_lotconfig.sum()

1052

In [56]:
pav_in_street = X.Street.map(lambda x: 'Pav' in x)
pav_in_street.sum()

text_match_counts = pd.Series([side_in_lotconfig.sum(), pav_in_street.sum()], index=['side','pav'])
text_match_counts

side    1052
pav     1454
dtype: int64

In [78]:
# Divide SalePrice into 3 categories - 'inexpensive', 'fair value', 'expensive'

#X.SalePrice.describe()
SalePrice_25qtle = X.SalePrice.quantile(0.25)
SalePrice_75qtle = X.SalePrice.quantile(0.75)

def price_to_cat(row):
    if row.SalePrice <= SalePrice_25qtle:
        return 'inexpensive'
    elif row.SalePrice >= SalePrice_75qtle:
        return 'expensive'
    else:
        return 'fair value'
    
price_cat = X.apply(price_to_cat, axis='columns')
price_cat

Id
1       fair value
2       fair value
3        expensive
4       fair value
5        expensive
           ...
1456    fair value
1457    fair value
1458     expensive
1459    fair value
1460    fair value
Length: 1460, dtype: object

In [88]:
#X_train = X.assign(price_cat = price_cat)
# axis number -> 0 = rows, 1 = columns
#X_train.drop('price_cat', axis=1, inplace=True)

In [102]:
# create a new column with the ratio of prict to area.
# Use this ratio to divide houses into 3 categories - inexpensive, fair value and expensive ( in the next cell)
X_train = X.assign(price_to_area = X.SalePrice/X.LotArea)
X_train

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,price_to_area
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,24.674556
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,18.906250
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,19.866667
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,14.659686
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,17.531557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,8,2007,WD,Normal,175000,22.104332
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000,15.939279
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500,29.473568
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,4,2010,WD,Normal,142125,14.626428
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,6,2008,WD,Normal,147500,14.843514

In [103]:
X_train.price_to_area.idxmin()

336

In [119]:
# Divide price_to_area into 3 categories - 'inexpensive', 'fair value', 'expensive'

#X.SalePrice.describe()
p2a_25qtle = X_train.price_to_area.quantile(0.25)
p2a_75qtle = X_train.price_to_area.quantile(0.75)

def p2a_to_cat(row):
    if row.price_to_area <= p2a_25qtle:
        return 'bargain'
    elif row.price_to_area >= p2a_75qtle:
        return 'money_printer_go_brr'
    else:
        return 'fair_value'
    
bargain_cat = X_train.apply(p2a_to_cat, axis='columns')
bargain_cat.value_counts()

fair_value              730
money_printer_go_brr    365
bargain                 365
dtype: int64

In [115]:
X_train.price_to_area.describe()

count    1460.000000
mean       21.069878
std        12.387559
min         1.390441
25%        13.775136
50%        17.856628
75%        23.769031
max        95.384615
Name: price_to_area, dtype: float64

In [121]:
X_train = X_train.assign(bargain_cat = bargain_cat)
X_train

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,price_to_area,bargain_cat
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,2,2008,WD,Normal,208500,24.674556,money_printer_go_brr
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,NaN,NaN,0,5,2007,WD,Normal,181500,18.906250,fair_value
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,0,9,2008,WD,Normal,223500,19.866667,fair_value
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,NaN,NaN,0,2,2006,WD,Abnorml,140000,14.659686,fair_value
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,NaN,NaN,0,12,2008,WD,Normal,250000,17.531557,fair_value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,8,2007,WD,Normal,175000,22.104332,fair_value
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,MnPrv,NaN,0,2,2010,WD,Normal,210000,15.939279,fair_value
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,GdPrv,Shed,2500,5,2010,WD,Normal,266500,29.473568,money_printer_go_brr
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,4,2010,WD,Normal,142125,14.626428,fair_value
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,6,2008,WD,Normal,147500,14.843514,fair_value

In [120]:
#X_train.drop('bargain_cat', axis=1, inplace=True)

In [130]:
# apartmrents which are a bargain, have at least 20000 sqft lot area, LotShape Regular

X_train.loc[(X_train.bargain_cat == 'bargain') & (X_train.LotArea >= 20000) & (X_train.LotShape == 'Reg')].sort_values(by='SalePrice')

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,price_to_area,bargain_cat
Id,,,,,,,,,,,,,,,,,,,,,
1384,30,RL,NaN,25339,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,8,2007,WD,Normal,112000,4.420064,bargain
423,20,RL,100.0,21750,Pave,NaN,Reg,HLS,AllPub,Inside,...,NaN,NaN,0,2,2008,WD,Normal,113000,5.195402,bargain
1049,20,RL,100.0,21750,Pave,NaN,Reg,Lvl,AllPub,Inside,...,GdPrv,NaN,0,11,2009,WD,Normal,115000,5.287356,bargain
877,20,RL,94.0,25286,Pave,NaN,Reg,HLS,AllPub,Inside,...,NaN,NaN,0,1,2007,WD,Normal,132250,5.230167,bargain
1011,50,RL,115.0,21286,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,8,2008,WD,Normal,135000,6.342197,bargain
944,90,RL,100.0,25000,Pave,NaN,Reg,Low,AllPub,Inside,...,NaN,NaN,0,6,2007,WD,Normal,143000,5.720000,bargain
412,190,RL,100.0,34650,Pave,NaN,Reg,Bnk,AllPub,Inside,...,NaN,NaN,0,1,2006,WD,Normal,145000,4.184704,bargain
1191,190,RL,NaN,32463,Pave,NaN,Reg,Low,AllPub,Inside,...,NaN,NaN,0,3,2007,WD,Normal,168000,5.175122,bargain
564,50,RL,66.0,21780,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,7,2008,WD,Normal,185000,8.494031,bargain
1185,20,RL,50.0,35133,Grvl,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,5,2007,WD,Normal,186700,5.314092,bargain
114,20,RL,NaN,21000,Pave,NaN,Reg,Bnk,AllPub,Corner,...,MnPrv,NaN,0,10,2007,COD,Abnorml,217000,10.333333,bargain
808,70,RL,144.0,21384,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,5,2009,WD,Normal,223500,10.451740,bargain
198,75,RL,174.0,25419,Pave,NaN,Reg,Lvl,AllPub,Corner,...,GdPrv,NaN,0,3,2006,WD,Abnorml,235000,9.245053,bargain
940,70,RL,NaN,24090,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,0,6,2010,COD,Normal,244400,10.145289,bargain
1271,40,RL,NaN,23595,Pave,NaN,Reg,Low,AllPub,Inside,...,NaN,NaN,0,4,2010,WD,Normal,260000,11.019284,bargain